.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  app-video-list-item {
    margin: 50px;
  }
}

.fab-container {
  position: fixed;
  bottom: 35px;
  right: 55px;
}