.container {
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    border: 2px solid slateblue;
    width: 70px 0px;
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    youtube-player {
      margin: 20px;
    }
  }

  button {
    margin: 0 5px;
  }
}